body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#dealer-cards img {
    height: 150px;
    width: 100px;
    margin: 1px;
}

#my-cards img {
    height: 150px;
    width: 100px;
    margin: 1px;
}

#hit {
    background-color: black;
    color: whitesmoke;
    width:125px;
    height: 75px;
    font-size: 25px;
}

#stay {
    background-color: black;
    color: whitesmoke;
    width:125px;
    height: 75px;
    font-size: 25px;
}